a:hover {
    color:aquamarine;
  }

h1 {
  color: teal;
  font-size: 70px;
  text-align: center;
  font-family: cursive;
}

.box{
  border: 0px solid red;
  background: whitesmoke;
  height: 350px;
  width: 350px;
  margin: 10px;
  font-size: 25px;
  font-family: cursive;
  display: inline-block;
}

.enlace{
  text-align: center;
}

.receta{
  padding-top: 50px;
  
}

.imagen{
  width: 348px;
  height: 195px;
}
